<html>

<head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>

  <h1>Repeater Field</h1>
  <div>
    <form class="repeater" action="/new" method="post">
      <div data-repeater-list="repeater-group">
        <div data-repeater-item>
          <div data-repeater-item="" style="">

            <input name='titel' placeholder='titel' value="A">

            <textarea name='description' placeholder='description'>A</textarea>

            <input type="checkbox" name="checkbox" value="A">

          </div>
          <input data-repeater-delete type="button" value="Delete" />
        </div>
      </div>
      <input data-repeater-create type="button" value="Add" />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script src="js/jquery.repeater.min.js"></script>
  <script>
    $(document).ready(function () {
      'use strict';

      $('.repeater').repeater({
        defaultValues: {
          'textarea-input': 'foo',
          'text-input': 'bar',
          'select-input': 'B',
          'checkbox-input': ['A', 'B'],
          'radio-input': 'B'
        },
        show: function () {
          $(this).slideDown();
        },
        hide: function (deleteElement) {
          if (confirm('Are you sure you want to delete this element?')) {
            $(this).slideUp(deleteElement);
          }
        },
        ready: function (setIndexes) {

        }
      });
    });
  </script>
</body>

</html>
